{% extends "base.html" %}
{% block content %}
    <h2>Список профессий</h2>
    <ol class="rounded">
        {% if current_user.is_authenticated%}
    {% for item in profs %}
        <li><a>{{item}}</a></li>
        {%if current_user.id == item.team_leader or current_user.id == 1 %}
            <div>
        <a href="/editjob/{{item.job}}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/deletejob/{{ item.job }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}
{% endblock %}